{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
    {% if is_password_changed %}
        <div class="container">
            <div class="row">
                <div class="col-6 offset-3 text-center">
                    <h1 class="my-3">User Password Successfully Updated!</h1>
                    <p>The password has been successfully updated</p>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-6 offset-3">
                    <div class="border p-4 text-center">
                        <h1>Password Change</h1>
                        <p>Username: {{ user.username }}</p>
                        <p>Email: {{ user.email }}</p>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Change Password</button>
                        </form>
                        {% if form.errors %}
                            <p class="text-danger">There was an error with your submission. Please correct the errors below.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}